<!-- <h1>Daycare</h1> -->
<!-- <p>Find me in app/views/daycare/about.html.erb</p> -->
<h1>Our Daycare</h1>
<p>Our daycare is legendary.</p>

<h1>Location</h1>
<li>New Orleans, Louisiana, 70056</li>

<h1>Contact Us </h1>
<h3>Phone</h3>
<li>504-332-4422</li>
<h3>Email</h3>
<li>Atomic_dog_daycare@gmail.com</li>