<!-- <h1>Daycare</h1> -->
<!-- <p>Find me in app/views/daycare/about.html.erb</p> -->
<h1>The Daycare</h1>
<p>Our daycare is legendary.</p>
<p>Want to read the <%= link_to "about", daycare_daycare_path %> section again?</p>