  <h1>Daycare<!-- #daycare --></h1>
  <p>
      It is now <%= Time.now %>
      It is now <%= @time %>
  </p>
  <!-- <p>Find me in app/views/daycare/daycare.html.erb</p> -->
  <p>
      Read more about <%= link_to "The Daycare.", daycare_about_path %>

  </p>
